*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-weight: 4000;
    list-style-type: none;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.card{
    width: 32rem;
    height: 20rem;
    background-color: rgb(74, 151, 210);
    padding: 1rem;
    color: white;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #222 -0.1rem 0 0.1rem #222;
}
.card:hover{
    box-shadow: 0.2rem 0.2rem 0.2rem #222 -0.2rem 0 0.2rem #222;
    transition: all 0.3s;
}
.card-title{
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}
.form-field{
    margin-bottom: 1rem;
}
input{
    border: none;
    border: 0.1rem solid;
    border-radius: 0.6rem;
    padding: 0.2rem;
    background-color:rgb(74, 151, 210);
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    width: 40%;
}
.button{
    display: flex;
    justify-content: flex-end;
    margin: 0 0.8rem 1rem 0 ;

}
.btn{
    border: none;
    border: 0.1rem solid;
    border-radius: 0.6rem;
    padding: 0.2rem;
    background-color:rgb(74, 151, 210);
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s;
}
.btn:hover{
    background-color: white;
}
p{
    text-align: center;
}
.large-text{
    font-size: 1.5rem;
    color: beige;
}


